In [27]:
import numpy as np
import pandas as pd

In [3]:
label = ['satu', 'dua', 'tiga']
angka = [10, 20, 30]
np_angka = np.array(angka)
print(np_angka)

[10 20 30]

In [6]:
d = {'satu':10, 'dua':20, 'tiga':30}

In [12]:
data = pd.Series(data=angka)
data

0    10
1    20
2    30
dtype: int64

In [35]:
dataku = pd.Series(data=angka, index=label)
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [13]:
data[0]

10

In [14]:
np_angka[0]

10

In [17]:
dataku['dua']

20

In [18]:
pd.Series(d)

satu    10
dua     20
tiga    30
dtype: int64

In [19]:
pd.Series(angka)

0    10
1    20
2    30
dtype: int64

In [20]:
pd.Series(np_angka)

0    10
1    20
2    30
dtype: int32

In [40]:
data_baru = dataku.to_frame()

In [41]:
data_baru

       0
satu  10
dua   20
tiga  30

In [43]:
d2 = {'satu':10, 'dua':20, 'tiga':30, 'empat':40, 'lima':50}
dataku = pd.Series(d)
dataku2 = pd.Series(d2)

In [44]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [45]:
dataku2

satu     10
dua      20
tiga     30
empat    40
lima     50
dtype: int64

In [48]:
dataku3 = dataku + dataku2
dataku3

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64