# KEPADATAN PENDUDUK JAKARTA

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('data_excel.xlsx')

In [3]:
data

,TAHUN,NAMA PROVINSI,NAMA KABUPATEN/KOTA,NAMA KECAMATAN,NAMA KELURAHAN,LUAS WILAYAH (KM2),KEPADATAN (JIWA/KM2),35-39 Laki-Laki,35-39 Perempuan,40-44 Laki-Laki,...,55-59 Laki-Laki,55-59 Perempuan,60-64 Laki-Laki,60-64 Perempuan,65-69 Laki-Laki,65-69 Perempuan,70-74 Laki-Laki,70-74 Perempuan,>75 Laki-Laki,>75 Perempuan
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,0.91,6779,231,235,233,...,98,106,72,65,36,33,33,20,13,27
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,3.76,1705,84,88,99,...,30,39,29,24,12,21,13,5,5,8
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,3.59,628,255,238,232,...,139,101,73,56,18,35,24,25,18,26
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,0.59,3625,199,185,178,...,97,83,58,56,40,54,26,27,16,13
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,1.57,3084,98,75,73,...,37,32,22,13,18,15,10,18,11,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,MUNJUL,1.90,12734,1167,1112,1026,...,482,482,302,291,173,137,118,94,52,51
263,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,SETU,3.25,6028,937,928,857,...,392,354,254,211,124,115,64,83,59,64
264,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,BAMBU APUS,3.17,8400,1242,1187,1062,...,596,476,377,250,169,179,108,96,70,84
265,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,LUBANG BUAYA,3.72,18055,3258,2988,2732,...,1376,1308,959,739,393,385,293,291,160,165
266,2013,PROVINSI DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,CEGER,3.63,5492,1007,930,874,...,416,390,279,214,110,153,101,53,45,44

In [5]:
luas = data['LUAS WILAYAH (KM2)']
luas

0      0.91
1      3.76
2      3.59
3      0.59
4      1.57
       ...
262    1.90
263    3.25
264    3.17
265    3.72
266    3.63
Name: LUAS WILAYAH (KM2), Length: 267, dtype: float64

In [7]:
luas.describe()

count    267.000000
mean       2.487378
std        2.109983
min        0.270000
25%        0.965000
50%        1.800000
75%        3.315000
max       13.070000
Name: LUAS WILAYAH (KM2), dtype: float64

In [8]:
luas.count()

267

In [9]:
luas.mean()

2.487378277153557

In [10]:
luas.median()

1.8